<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>服务器统计信息
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <label>Filter:
                    <input type="search" class="form-control input-large input-inline" placeholder="HostName/Osversion" ng-model='searchKey'>
                </label>
                <a href="javascript:void(0);" ng-click="Search(searchKey)" class="btn btn-sm btn-primary">搜索</a>
                <a href="javascript:void(0);" ng-click="Search('')" class="btn btn-sm btn-primary">重置</a>
            </div>
        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>编号</th>
                <th>主机名</th>
                <th>ip地址1</th>
                <th>ip地址2</th>
                <th>ip地址3</th>
                <th>位置</th>
                <th>操作系统</th>
                <th>内存</th>
                <th>硬盘</th>
                <th>CPU</th>
                <th>CPU核数</th>
                <th>分类</th>
                <th>上架时间</th>
                <th>操作</th>
            </tr>

            <tr ng-repeat="o in rows">
                <td>{{ o.ParentId }}</td>
                <td>{{ o.ParentName }}</td>
                <td>{{ o.Ip }}</td>
                <td>{{ o.Ip1 }}</td>
                <td>{{ o.Ip2 }}</td>
                <td>{{ o.ParentLocation }}</td>
                <td>{{ o.OsVersion }}</td>
                <td>{{ o.MemoryInfo }}</td>
                <td>{{ o.DiskInfo }}</td>
                <td>{{ o.ModelName }}</td>
                <td>{{ o.CpuCore }}</td>
                <td>{{ o.Sorts }}</td>
                <td>{{ o.CreateTime }}</td>
                <td>
                    <div class="btn-group">
                       <button type="button" class="btn btn-primary btn-sm" ng-click="edit($index)">编辑</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <paging
                class="small"
                page="currentPage"
                page-size="pageSize"
                total="total"
                adjacent="{{adjacent}}"
                dots="{{dots}}"
                scroll-top="{{scrollTop}}"
                hide-if-empty="{{hideIfEmpty}}"
                ul-class="{{ulClass}}"
                active-class="{{activeClass}}"
                disabled-class="{{disabledClass}}"
                show-prev-next="{{showPrevNext}}"
                paging-action="pageAction( page )">
        </paging>
    </div>
</div>

<script type="text/ng-template" id="edit.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">主机名</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="主机名"
                                       ng-model="item.ParentName">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">ip地址1</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="ip地址1"
                                       ng-model="item.Ip">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">ip地址2</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="ip地址2"
                                       ng-model="item.Ip1">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">ip地址3</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="ip地址3"
                                       ng-model="item.Ip2">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">位置</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="位置"
                                       ng-model="item.ParentLocation">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">操作系统</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="操作系统"
                                       ng-model="item.OsVersion">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">内存信息</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="内存信息"
                                       ng-model="item.MemoryInfo">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">硬盘信息</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="硬盘信息"
                                       ng-model="item.DiskInfo">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">CPU</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="CPU信息"
                                       ng-model="item.ModelName">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">CPU核数</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="CPU核数"
                                       ng-model="item.CpuCore">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">分类</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="分类"
                                       ng-model="item.Sorts">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">上架时间</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="上架时间"
                                       ng-model="item.CreateTime" disabled>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="Save()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancle</button>
    </div>
</script>
