<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>项目管理
        </div>
        <div class="tools">
            <a class="glyphicon glyphicon-plus" href="javascript:;">
            </a>
            <button type="button" class="btn red-haze btn-sm" ng-click="Create();">新建项目
            </button>
        </div>
    </div>

    <div class="portlet-body">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <label>Filter:
                    <input type="search" class="form-control input-large input-inline" placeholder="项目名称" ng-model='searchKey'>
                </label>
                <a href="javascript:void(0);" ng-click="Search(searchKey)" class="btn btn-sm btn-primary">搜索</a>
                <a href="javascript:void(0);" ng-click="Search('')" class="btn btn-sm btn-primary">重置</a>
            </div>
        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>编号</th>
                <th>项目名称</th>
                <th>描述</th>
                <th>虚拟机数量</th>
                <th>CPU</th>
                <th>内存</th>
                <th>状态</th>
                <th>负责人</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>

            <tr ng-repeat="o in rows">
                <td>{{ o.ProId }}</td>
                <td>{{ o.ProName }}</td>
                <td>{{ o.ProDesc }}</td>
                <td>{{ o.Cconfig }}</td>
                <td>{{ o.Ccpu }}</td>
                <td>{{ o.Cmemory }}</td>
                <td>{{ o.Status }}</td>
                <td>{{ o.Admin }}</td>
                <td>{{ o.CreateTime }}</td>
                <td>
                    <div class="btn-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm" data-close-others="true" ng-click="edit($index)">
                                <span class="hidden-sm hidden-xs">编辑</span>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" data-close-others="true" ng-click="memberedit(o.ProId)">
                                <span class="hidden-sm hidden-xs">项目成员</span>
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <paging
                class="small"
                page="currentPage"
                page-size="pageSize"
                total="total"
                adjacent="{{adjacent}}"
                dots="{{dots}}"
                scroll-top="{{scrollTop}}"
                hide-if-empty="{{hideIfEmpty}}"
                ul-class="{{ulClass}}"
                active-class="{{activeClass}}"
                disabled-class="{{disabledClass}}"
                show-prev-next="{{showPrevNext}}"
                paging-action="pageAction( page )">
        </paging>
    </div>
</div>

<script type="text/ng-template" id="add.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">项目名称</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium" placeholder="项目名称"
                                       ng-model="item.ProName">
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">项目描述</label>
                            <div class="col-md-9">
                                <textarea rows="3" class="form-control input-inline input-medium" placeholder="项目描述"
                                       ng-model="item.ProDesc"></textarea>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">CPU数量</label>
                            <div class="col-md-9">
                                <select class="form-control input-inline input-big"
                                        ng-model="item.Ccpu" ng-options="sh for sh in title.cpuList">
                                <option value=""></option>
                                </select>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">内存大小</label>
                            <div class="col-md-9">
                                <select class="form-control input-inline input-big"
                                        ng-model="item.Cmemory" ng-options="(sh + 'G') for sh in title.memList">
                                <option value=""></option>
                                </select>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">负责人</label>
                            <div class="col-md-9">
                                <select class="form-control input-inline input-big"
                                        ng-model="item.Admin" ng-options="sh for sh in title.directorList">
                                <option value=""></option>
                                </select>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="Save()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancle</button>
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">项目名称</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium"
                                       ng-model="item.ProName" disabled>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">项目描述</label>
                            <div class="col-md-9">
                                <textarea rows="3" class="form-control input-inline input-medium" placeholder="项目描述"
                                       ng-model="item.ProDesc"></textarea>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">CPU数量</label>
                            <div class="col-md-9">
                                <select class="form-control input-inline input-big"
                                        ng-model="item.Ccpu" ng-options="sh for sh in title.cpuList">
                                <option value=""></option>
                                </select>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">内存大小</label>
                            <div class="col-md-9">
                                <select class="form-control input-inline input-big"
                                        ng-model="item.Cmemory" ng-options="(sh + 'G') for sh in title.memList">
                                <option value=""></option>
                                </select>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">负责人</label>
                            <div class="col-md-9">
                                <select class="form-control input-inline input-big"
                                        ng-model="item.Admin" ng-options="sh for sh in title.directorList">
                                <option value=""></option>
                                </select>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="Save()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancle</button>
    </div>
</script>

<script type="text/ng-template" id="memberedit.html">
    <div class="modal-header">
        <div class="caption">
            <h4>{{ title.title }}</h4>
        </div>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">项目名称</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control input-inline input-medium"
                                       ng-model="item.ProName" disabled>
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label">项目成员</label>
                            <div class="col-md-9">
                                <div ng-repeat="sh in title.directorDict">
                                    <label class="checkbox-inline">
                                        <input type="checkbox"
                                           name ="{{sh.UserName}}"
                                           ng-model="item.UserId[$index+1]">{{sh.UserName}}</label>
                                </div>
                                <span class="help-inline"></span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="savemember()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancle</button>
    </div>
</script>