<div class="context-box">
    <div class="dropdown context-selection">
        <button class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-list-alt"></span>
            <span class="context-overview">
                <span>1</span>
            </span>
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu">
            <div class="context-lists">
                <ul>
                    <li class="dropdown-header">项目：</li>
                    <li>
                        <a href="">
                            1
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>